# Chapter 4

## Type as the base class for everything

In [36]:
class Testfortype:
    pass

In [37]:
type(Testfortype)

type

In [38]:
type(object)

type

In [39]:
type(int)

type

## The structure of a metaclass

In [40]:
class ExampleMetaClass1(type):
    def __new__(self, *args):
        print('class itself: ', self)
        print('Others: ', args)
        return type.__new__(self, *args)

In [41]:
class ExampleClass1(metaclass = ExampleMetaClass1):    
    int1 = 123
    str1 = 'test'
    
    def test():
        print('test')

class itself:  <class '__main__.ExampleMetaClass1'>
Others:  ('ExampleClass1', (), {'__module__': '__main__', '__qualname__': 'ExampleClass1', 'int1': 123, 'str1': 'test', 'test': <function ExampleClass1.test at 0x1119179c0>})

In [42]:
class ExampleMetaClass2(type):
    def __new__(classitself,classname,baseclasses,attributes):
        print('class itself: ',classitself)
        print('class name: ',classname)
        print('parent class list: ',baseclasses)
        print('attribute list: ',attributes)
        return type.__new__(classitself,classname,baseclasses,attributes)

In [43]:
class ExampleParentClass1():
    def test1():
        print('parent1 - test1')
class ExampleParentClass2():
    def test2():
        print('parent2 - test2')

In [44]:
class ExampleClass2(ExampleParentClass1,ExampleParentClass2, metaclass = ExampleMetaClass2):    
    int1 = 123
    str1 = 'test'
    
    def test3():
        print('child1 - test3')

class itself:  <class '__main__.ExampleMetaClass2'>
class name:  ExampleClass2
parent class list:  (<class '__main__.ExampleParentClass1'>, <class '__main__.ExampleParentClass2'>)
attribute list:  {'__module__': '__main__', '__qualname__': 'ExampleClass2', 'int1': 123, 'str1': 'test', 'test3': <function ExampleClass2.test3 at 0x111915f80>}

In [45]:
type(ExampleParentClass1)

type

In [46]:
type(ExampleMetaClass2)

type

In [47]:
type(ExampleClass2)

__main__.ExampleMetaClass2

## The application of metaclasses

In [48]:
class BranchMetaClass(type):
    def __new__(classitself, classname, baseclasses, attributes):
        import inspect
        newattributes = {}
        for attribute, value in attributes.items():
            if attribute.startswith("__"):
                newattributes[attribute] = value
            elif inspect.isfunction(value):
                newattributes['branch' + attribute.title()] = value
            else:
                newattributes[attribute] = value
        return type.__new__(classitself, classname, baseclasses, newattributes)

    @staticmethod
    def buy_product(product,unit_price,quantity,statetax_rate,promotiontype):
        statetax_rate = statetax_rate        
        initialprice = unit_price*quantity 
        sales_price = initialprice + initialprice*statetax_rate
        return sales_price, product,promotiontype

In [49]:
class Brooklyn(metaclass = BranchMetaClass):
    product_id = 100902
    product_name = 'Iphone X'
    product_category = 'Electronics'
    unit_price = 700
    
    def maintenance_cost(self,product_type, quantity):
        self.product_type = product_type
        self.quantity = quantity
        storage_cost = 100
        if (product_type == 'Electronics'):
            maintenance_cost = self.quantity * 0.25 + storage_cost    
            return maintenance_cost
        else:
            return "We don't stock this product"

In [50]:
Brooklyn.buy_product('Iphone X', 700, 2, 0.08, 'percentage')

(1512.0, 'Iphone X', 'percentage')

In [51]:
dir(Brooklyn)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'branchMaintenance_Cost',
 'product_category',
 'product_id',
 'product_name',
 'unit_price']

In [52]:
brooklyn = Brooklyn()

In [53]:
brooklyn.branchMaintenance_Cost("Electronics", 10)

102.5

In [54]:
brooklyn.product_id

100902

In [55]:
class Queens(BranchMetaClass):
    def maintenance_cost(product_type, quantity):
        product_type = product_type
        quantity = quantity
        if (product_type == 'FMCG'):
            maintenance_cost = quantity * 0.05
            return maintenance_cost
        else:
            return "We don't stock this product"

In [56]:
queens = Queens()

TypeError: BranchMetaClass.__new__() missing 3 required positional arguments: 'classname', 'baseclasses', and 'attributes'

In [57]:
Queens.maintenance_cost('FMCG',120)

6.0

In [58]:
Queens.buy_product('Iphone',1000,1,0.04,None)

(1040.0, 'Iphone', None)

## Inheriting as Parent and Meta class

In [59]:
class Queens(BranchMetaClass,metaclass = BranchMetaClass):
    def maintenance_cost(product_type, quantity):
        product_type = product_type
        quantity = quantity
        if (product_type == 'FMCG'):
            maintenance_cost = quantity * 0.05
            return maintenance_cost
        else:
            return "We don't stock this product"

In [60]:
Queens.branchMaintenance_Cost('FMCG',2340)

117.0

In [61]:
Queens.buy_product('Iphone',1500,1,0.043,None)

(1564.5, 'Iphone', None)

In [62]:
queens = Queens()

TypeError: BranchMetaClass.__new__() missing 3 required positional arguments: 'classname', 'baseclasses', and 'attributes'

## Switching Meta classes

In [63]:
class IncomeStatementMetaClass(type):
    def __new__(classitself, classname, baseclasses, attributes):
        
        newattributes = {}
        for attribute, value in attributes.items():
            if attribute.startswith("__"):
                newattributes[attribute] = value
            elif ("revenue" in attribute) or \
            ("expense" in attribute) or \
            ("profit" in attribute) or \
            ("loss" in attribute):
                newattributes['IncomeStatement_' + attribute.title()] = value
            else:
                newattributes[attribute] = value
        return type.__new__(classitself, classname, baseclasses, newattributes)

In [64]:
class BalanceSheetMetaClass(type):
    def __new__(classitself, classname, baseclasses, attributes):
        
        newattributes = {}
        for attribute, value in attributes.items():
            if attribute.startswith("__"):
                newattributes[attribute] = value
            elif ("assets" in attribute) or \
            ("liabilities" in attribute) or \
            ("goodwill" in attribute) or \
            ("cash" in attribute):
                newattributes['BalanceSheet_' + attribute.title()] = value
            else:
                newattributes[attribute] = value
        return type.__new__(classitself, classname, baseclasses, newattributes)

In [65]:
class Malibu:
    profit = 4354365
    loss = 43000
    assets = 15000
    liabilities = 4000
    def calc_revenue(quantity,unitsales_price):
        totalrevenue = quantity * unitsaleprice 
        return totalrevenue
    
    def calc_expense(totalrevenue,netincome, netloss):
        totalexpense = totalrevenue - (netincome + netloss)
        return totalexpense  
    
    def calc_totalassets(cash,inventory,accountsreceivable):
        totalassets = cash + inventory + accountsreceivable
        return totalassets
    
    def calc_totalliabilities(debt,accruedexpense,accountspayable):
        totalliabilities = debt + accruedexpense + accountspayable
        return totalliabilities

In [66]:
Malibu.

SyntaxError: invalid syntax (3676963949.py, line 1)

In [67]:
class Malibu(metaclass = IncomeStatementMetaClass):
    profit = 4354365
    loss = 43000
    assets = 15000
    liabilities = 4000
    def calc_revenue(quantity,unitsales_price):
        totalrevenue = quantity * unitsaleprice 
        return totalrevenue
    
    def calc_expense(totalrevenue,netincome, netloss):
        totalexpense = totalrevenue - (netincome + netloss)
        return totalexpense  
    
    def calc_totalassets(cash,inventory,accountsreceivable):
        totalassets = cash + inventory + accountsreceivable
        return totalassets
    
    def calc_totalliabilities(debt,accruedexpense,accountspayable):
        totalliabilities = debt + accruedexpense + accountspayable
        return totalliabilities

In [68]:
Malibu.

SyntaxError: invalid syntax (3676963949.py, line 1)

In [69]:
class Malibu(metaclass = BalanceSheetMetaClass):
    profit = 4354365
    loss = 43000
    assets = 15000
    liabilities = 4000
    def calc_revenue(quantity,unitsales_price):
        totalrevenue = quantity * unitsaleprice 
        return totalrevenue
    
    def calc_expense(totalrevenue,netincome, netloss):
        totalexpense = totalrevenue - (netincome + netloss)
        return totalexpense  
    
    def calc_totalassets(cash,inventory,accountsreceivable):
        totalassets = cash + inventory + accountsreceivable
        return totalassets
    
    def calc_totalliabilities(debt,accruedexpense,accountspayable):
        totalliabilities = debt + accruedexpense + accountspayable
        return totalliabilities

In [70]:
Malibu.

SyntaxError: invalid syntax (3676963949.py, line 1)

## Inheritance in Meta classes

In [71]:

class California(metaclass = IncomeStatementMetaClass):
    profit = 4354365
    loss = 43000
    def calc_revenue(quantity,unitsales_price):
        totalrevenue = quantity * unitsaleprice 
        return totalrevenue
    
    def calc_expense(totalrevenue,netincome, netloss):
        totalexpense = totalrevenue - (netincome + netloss)
        return totalexpense

In [72]:
class Pasadena(California,metaclass = BalanceSheetMetaClass):
    assets = 18000
    liabilities = 5000
    def calc_totalassets(cash,inventory,accountsreceivable):
        totalassets = cash + inventory + accountsreceivable
        return totalassets
    
    def calc_totalliabilities(debt,accruedexpense,accountspayable):
        totalliabilities = debt + accruedexpense + accountspayable
        return totalliabilities

TypeError: metaclass conflict: the metaclass of a derived class must be a (non-strict) subclass of the metaclasses of all its bases

In [73]:
class BalanceSheetMetaClass(IncomeStatementMetaClass):
    def __new__(classitself, classname, baseclasses, attributes):
        
        newattributes = {}
        for attribute, value in attributes.items():
            if attribute.startswith("__"):
                newattributes[attribute] = value
            elif ("assets" in attribute) or \
            ("liabilities" in attribute) or \
            ("goodwill" in attribute) or \
            ("cash" in attribute):
                newattributes['BalanceSheet_' + attribute.title()] = value
            else:
                newattributes[attribute] = value
        return type.__new__(classitself, classname, baseclasses, newattributes)

In [74]:
class California(metaclass = IncomeStatementMetaClass):
    profit = 4354365
    loss = 43000
    def calc_revenue(quantity,unitsales_price):
        totalrevenue = quantity * unitsaleprice 
        return totalrevenue
    
    def calc_expense(totalrevenue,netincome, netloss):
        totalexpense = totalrevenue - (netincome + netloss)
        return totalexpense

In [75]:
class Pasadena(California,metaclass = BalanceSheetMetaClass):
    assets = 18000
    liabilities = 5000
    def calc_totalassets(cash,inventory,accountsreceivable):
        totalassets = cash + inventory + accountsreceivable
        return totalassets
    
    def calc_totalliabilities(debt,accruedexpense,accountspayable):
        totalliabilities = debt + accruedexpense + accountspayable
        return totalliabilities

## Manipulating Class Variable

In [76]:
class SchemaMetaClass(type):
    def __new__(classitself, classname, baseclasses, attributes):
        
        newattributes = {}
        for attribute, value in attributes.items():
            if attribute.startswith("__"):
                newattributes[attribute] = value
            elif type(value)==int or type(value)==float:
                newattributes[attribute] = {}
                newattributes[attribute]['ColumnName'] = attribute.title()
                newattributes[attribute]['Value'] = value
                newattributes[attribute]['Type'] = 'NUMERIC'
                newattributes[attribute]['Length'] = len(str(value))
            elif type(value)==str:
                newattributes[attribute] = {}
                newattributes[attribute]['ColumnName'] = attribute.title()
                newattributes[attribute]['Value'] = value
                newattributes[attribute]['Type'] = 'VARCHAR'
                newattributes[attribute]['Length'] = len(value)
            elif type(value)==bool:
                newattributes[attribute] = {}
                newattributes[attribute]['ColumnName'] = attribute.title()
                newattributes[attribute]['Value'] = value
                newattributes[attribute]['Type'] = 'BOOLEAN'
                newattributes[attribute]['Length'] = None
            else:
                newattributes[attribute] = value                
        return type.__new__(classitself, classname, baseclasses, newattributes)

In [77]:
class Arizona():
    product_id = 200443
    product_name = 'Iphone'
    product_category = 'Electronics'
    sales_quantity = 2
    tax_rate = 0.05
    sales_price = 1200
    profit = 70
    loss = 0
    sales_margin = 0.1
    promotion = '20%Off'
    promotion_reason = 'New Year'  
    in_stock = True
    
    def create_schema(self):
        import pandas as pd
        tableschema = pd.DataFrame([self.product_id,
                                     self.product_name,
                                     self.product_category,
                                     self.sales_quantity,
                                     self.tax_rate,
                                     self.sales_price,
                                     self.profit,
                                     self.loss,
                                     self.sales_margin,
                                     self.promotion,
                                     self.promotion_reason,
                                     self.in_stock])
        tableschema.drop(labels = ['Value'], axis = 1, inplace = True)
        return tableschema

In [78]:
objarizona = Arizona()

In [79]:
objarizona.product_name

'Iphone'

In [80]:
class Arizona(metaclass = SchemaMetaClass):
    product_id = 200443
    product_name = 'Iphone'
    product_category = 'Electronics'
    sales_quantity = 2
    tax_rate = 0.05
    sales_price = 1200
    profit = 70
    loss = 0
    sales_margin = 0.1
    promotion = '20%Off'
    promotion_reason = 'New Year'  
    in_stock = True
    
    def create_schema(self):
        import pandas as pd
        tableschema = pd.DataFrame([self.product_id,
                                     self.product_name,
                                     self.product_category,
                                     self.sales_quantity,
                                     self.tax_rate,
                                     self.sales_price,
                                     self.profit,
                                     self.loss,
                                     self.sales_margin,
                                     self.promotion,
                                     self.promotion_reason,
                                     self.in_stock])
        tableschema.drop(labels = ['Value'], axis = 1, inplace = True)
        return tableschema

In [81]:
objarizona = Arizona()

In [82]:
objarizona.product_name

{'ColumnName': 'Product_Name',
 'Value': 'Iphone',
 'Type': 'VARCHAR',
 'Length': 6}

In [83]:
objarizona.product_category

{'ColumnName': 'Product_Category',
 'Value': 'Electronics',
 'Type': 'VARCHAR',
 'Length': 11}

In [84]:
objarizona.sales_quantity

{'ColumnName': 'Sales_Quantity', 'Value': 2, 'Type': 'NUMERIC', 'Length': 1}

In [85]:
objarizona.create_schema()

          ColumnName     Type  Length
0         Product_Id  NUMERIC     6.0
1       Product_Name  VARCHAR     6.0
2   Product_Category  VARCHAR    11.0
3     Sales_Quantity  NUMERIC     1.0
4           Tax_Rate  NUMERIC     4.0
5        Sales_Price  NUMERIC     4.0
6             Profit  NUMERIC     2.0
7               Loss  NUMERIC     1.0
8       Sales_Margin  NUMERIC     3.0
9          Promotion  VARCHAR     6.0
10  Promotion_Reason  VARCHAR     8.0
11          In_Stock  BOOLEAN     NaN